/* General Footer Styling */
.footer-container {
    background-color: #000000;
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    border-radius: 30px;
    margin-bottom: 1rem;
    margin-top: 5rem;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .footer-header h1 {
    font-size: 28px;
    color: #4355f4;
    margin-bottom: 10px;
  }
  
  .footer-header p {
    font-size: 16px;
    color: #ddd;
  }
  
  .get-quote-button {
    background: linear-gradient(45deg, #6250ff, #0800ff);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .get-quote-button:hover {
    opacity: 0.8;
  }
  
  .footer-divider {
    border: 0.5px solid #444;
    margin: 20px 0;
  }
  
  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px 20px;
  }
  
  .footer-column h3 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    font-size: 14px;
    margin-bottom: 10px;
    color: #bbb;
  }
  
  .footer-column ul li:hover {
    color: #4355f4;
    cursor: pointer;
  }
  
  .footer-logo img {
    max-width: 100px;
    margin-bottom: 15px;
  }
  
  .footer-logo p {
    font-size: 14px;
    line-height: 1.6;
    color: #ddd;
  }
  
  .footer-logo p br {
    margin-bottom: 5px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer-top {
      flex-direction: column;
      
    }
  
    .footer-bottom {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-column {
      margin: 10px 0;
    }
  
    .get-quote-button {
      margin-top: 20px;
    }
  }
  .footer-copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
  }
  
  .footer-copyright p {
   
    text-decoration: none;
  }
  
  .footer-copyright p:hover {
    text-decoration: underline;
    color: #4355f4;}
  .item {
        text-decoration: none;
        color: #fff;
        transition: color 0.3s ease;
      }
      
      .item:hover {
        color: #4355f4;
      }